.register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    background-size: cover;
    position: relative;

    .bg{
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;
    }
  
    .top {
      .wrapper {
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo {
          height: 120px;
          width: 120px;
        }
  
        .loginButton {
          cursor: pointer !important;
          background-color: #0099ff;
          border: none;
          color: white;
          border-radius: 5px;
          padding: 5px 15px;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  
    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: rgb(255, 255, 255);
  
      h1 {
        font-size: 50px;
      }
  
      h2 {
        margin: 15px;
      }
  
      p {
        font-size: 20px;
        margin-top: 25px;
      }
  
      .input {
        width: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        height: 50px;
        border-radius: 5px;
  
        input{
            flex: 9;
            height: 100%;
            border: none;
            padding: 0 10px;
        }

        input:focus{
            outline: none;
        }
  
        .registerButton{
            flex: 3;
            height: 100%;
            background-color: #0099ff;
            border: none;
            padding:0px 10px;
            color: white;
            font-size: 22px;
            cursor: pointer;
        }
      }
    }
  }
  